// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #be7744
$secondary : #227C9D
$accent    : #B94F36

$dark      : #1D1D1D

$positive  : #21BA45
$negative  : #C10015
$info      : #31CCEC
$warning   : #F2C037

@import '~quasar-variables-styl'
